@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

footer {
  background-image: linear-gradient(90deg, #8720ac, #0f97a4);
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer .logoig, footer .logotumblr {
    width: 2.3em;
    height: 2.3em; }
    footer .logoig:hover, footer .logotumblr:hover {
      width: 2.5em;
      height: 2.5em; }
  footer .guillefooter {
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 520;
    padding-top: 10px; }
  footer .logoredes {
    padding-top: 10px;
    padding-bottom: 10px; }
  @media screen and (min-width: 768px) {
    footer .guillefooter {
      color: white; } }

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

header {
  background-image: linear-gradient(90deg, #0f97a4, #8720ac);
  background-size: cover;
  background-attachment: scroll; }
  header h1 {
    font-family: "koulen";
    font-style: italic; }
  header .navbar .menu,
  header .navbar .menu-check {
    display: none; }

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    header h1 {
      font-size: 2.2em;
      color: black;
      padding-top: 20px;
      margin-bottom: 0px; }
    header .navbar {
      display: flex;
      flex-direction: center;
      justify-content: center; }
      header .navbar .menu-check:not(:checked) ~ nav {
        display: none; }
      header .navbar .menu-check:checked ~ nav {
        display: block; }
      header .navbar .menu {
        display: block;
        font-family: "roboto";
        color: black;
        font-size: 1.2em;
        font-weight: bold;
        position: absolute;
        top: 0.1%; }
      header .navbar .menu-cerrar {
        display: none; }
      header .navbar .menu-check:checked ~ label .menu-abrir {
        display: none; }
      header .navbar .menu-check:checked ~ label .menu-cerrar {
        display: block; }
      header .navbar nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.2em; }
        header .navbar nav ul li a {
          text-decoration: none;
          font-family: "Merriweather";
          font-size: 1em;
          color: black;
          font-weight: bold;
          padding: 6px;
          display: block;
          float: none;
          border-top: 1px solid rgba(0, 0, 0, 0.3); } }

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header h1 {
      font-size: 2.2em;
      color: #2051ac;
      text-align: left; }
    header .navbar nav ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      header .navbar nav ul li a {
        text-decoration: none;
        font-family: "Merriweather";
        font-size: 1em;
        color: white;
        padding: 8px;
        border-top: none; }
        header .navbar nav ul li a:hover {
          color: goldenrod;
          font-size: 1.1em; }
        header .navbar nav ul li a:active {
          font-size: 1em; }
    header .item-home,
    header .item-prints,
    header .item-bio,
    header .item-contacto,
    header .item-tresd {
      padding: 25px; } }

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

body {
  background-color: black;
  font-size: 1.2em;
  font-family: "roboto";
  color: white;
  height: 100%; }

h2 {
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: koulen;
  font-weight: 350;
  font-stretch: extra-expanded;
  padding: 20px;
  animation: moveh1 1.5s; }

@keyframes moveh1 {
  from {
    transform: scale(1.25); }
  to {
    transform: scaleX(0.5) translatey 2; } }

h3 {
  font-size: 1.4em;
  color: #0f97a4; }

.grillaindex {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "head" "main" "foot"; }
  .grillaindex header {
    grid-area: head; }
  .grillaindex main {
    grid-area: main;
    margin-top: 3em;
    margin-bottom: 3em; }
  .grillaindex footer {
    grid-area: foot; }
  @media screen and (max-width: 768px) {
    .grillaindex .videoindex {
      width: 100%;
      height: 100%; } }

@media screen and (min-width: 768px) {
  .mainindex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; }
  .videoindex {
    width: 100%; }
  .grillaindex {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "head head" "main main" "foot foot"; }
    .grillaindex header {
      grid-area: head; }
    .grillaindex main {
      grid-area: main; }
    .grillaindex footer {
      grid-area: foot; } }

.grillabio {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: fit-content 50% 50%;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "head head" "main main" "foot foot"; }
  .grillabio header {
    grid-area: head; }
  .grillabio main {
    grid-area: main;
    overflow-x: hidden;
    padding: 0.8em; }
  .grillabio footer {
    grid-area: foot; }
  .grillabio .biografia h3 {
    padding-top: 1em;
    text-align: justify; }
  .grillabio .biografia .obra .p1,
  .grillabio .biografia .obra .p2,
  .grillabio .biografia .obra .p3,
  .grillabio .biografia .obra .p4 {
    font-size: 1.2em;
    text-align: justify; }
  .grillabio .recorridos {
    text-align: justify;
    padding: 2px;
    font-size: 1.2em; }
    .grillabio .recorridos ul,
    .grillabio .recorridos ol {
      padding-left: 5px;
      text-decoration: none;
      list-style-type: none; }
    .grillabio .recorridos h3 {
      padding-top: 30px;
      text-align: center;
      font-family: "koulen";
      font-weight: 300;
      font-size: 1.3em; }
    .grillabio .recorridos h4 {
      font-size: larger;
      color: #8720ac;
      font-weight: 600;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 5px; }
  .grillabio .fotobio {
    display: flex;
    justify-content: center; }
    .grillabio .fotobio .fotoguille {
      width: 350px; }

@media screen and (min-width: 768px) {
  .grillabio main {
    padding: 1em; }
    .grillabio main .fotobio {
      padding: 10px; }
      .grillabio main .fotobio .fotoguille {
        width: 500px; }
    .grillabio main .biografia h3 {
      font-size: 1.6em; }
    .grillabio main .biografia .obra .p1,
    .grillabio main .biografia .obra .p2,
    .grillabio main .biografia .obra .p3,
    .grillabio main .biografia .obra .p4 {
      font-size: 1.5em; }
    .grillabio main .biografia .recorridos h3 {
      text-align: center;
      font-size: 1.6em; }
    .grillabio main .biografia .recorridos h4 {
      font-size: 1.5em;
      text-align: left; }
    .grillabio main .biografia .recorridos ul,
    .grillabio main .biografia .recorridos ol {
      font-size: larger;
      padding-left: 50px; } }

main {
  overflow-x: hidden; }

.animate__animated.animate__headShake {
  --animate-duration: 3.5s; }

@media only screen and (min-width: 768px) {
  main {
    margin-left: 0.5em;
    margin-right: 0.5em; } }

@media only screen and (max-width: 768px) {
  .grilla3d {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: fit-content 100%;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: "head" "video" "virtu" "foot"; }
    .grilla3d .header3d {
      grid-area: head; }
    .grilla3d .videosmusica {
      grid-area: video;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .grilla3d .footer3d {
      grid-area: foot; }
    .grilla3d .titulo3d {
      text-align: center; }
    .grilla3d .textovirtual {
      grid-area: virtu;
      text-align: justify;
      padding-bottom: 2em;
      padding-top: 2em;
      font-size: 1.2em;
      padding-left: 0.5em;
      padding-right: 0.5em; }
      .grilla3d .textovirtual p {
        text-align: justify; }
    .grilla3d .videos3d {
      width: 350px;
      margin: auto; }
      .grilla3d .videos3d h3 {
        padding-top: 1em;
        font-size: 1.2em; }
      .grilla3d .videos3d .whiterabbit,
      .grilla3d .videos3d .horriblesophie,
      .grilla3d .videos3d .gorebarato {
        height: 0px;
        width: 100%;
        max-width: 350px;
        padding-top: 56.25%;
        position: relative; }
      .grilla3d .videos3d .iframerabbit,
      .grilla3d .videos3d .iframegorebarato,
      .grilla3d .videos3d .iframehorriblesophie {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        padding-top: 10px; } }

@media screen and (min-width: 768px) {
  .grilla3d {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto auto;
    grid-template-rows: 8rem auto auto auto 8rem;
    gap: 10px;
    grid-template-areas: "head head head" "virtu video video" "virtu video video" "virtu video video" "foot foot foot"; }
    .grilla3d header {
      grid-area: head;
      padding: 10px; }
    .grilla3d .videosmusica {
      grid-area: video; }
      .grilla3d .videosmusica .videos {
        margin-left: 1.5em; }
    .grilla3d .footer3d {
      grid-area: foot; }
    .grilla3d .videos3d {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 1.5em; }
      .grilla3d .videos3d h2 {
        text-align: center; }
      .grilla3d .videos3d h3 {
        padding-top: 1em; }
      .grilla3d .videos3d iframe {
        padding-top: 10px; }
    .grilla3d .textovirtual {
      grid-area: virtu;
      padding: 3px;
      text-align: left; }
      .grilla3d .textovirtual .textovirtualidad,
      .grilla3d .textovirtual .titulovirtualidad {
        padding-bottom: 3.5em;
        padding-left: 1em;
        font-size: 1.5em;
        padding-top: 4em; } }

.grillacontacto {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "head head" "main main" "foot foot"; }
  .grillacontacto header {
    grid-area: head; }
  .grillacontacto main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: main;
    padding-bottom: 3em; }
    .grillacontacto main h2 {
      padding-bottom: 10px; }
    .grillacontacto main .boxcontacto form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .grillacontacto main .boxcontacto form .añolugar {
        margin: 1em;
        border: 1px solid #424242;
        padding: 1.6em;
        background-image: url(../img/backgrounds/marmolnegrotransp2.png); }
        .grillacontacto main .boxcontacto form .añolugar .formaño {
          text-align: center; }
          .grillacontacto main .boxcontacto form .añolugar .formaño input {
            background-color: #bbbbbb;
            width: 75px; }
        .grillacontacto main .boxcontacto form .añolugar .formlugar {
          text-align: center;
          padding-top: 30px; }
          .grillacontacto main .boxcontacto form .añolugar .formlugar input {
            background-color: #bbbbbb;
            width: 60%; }
      .grillacontacto main .boxcontacto form .formpregunta {
        padding: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #424242;
        margin: 1.2em;
        padding-bottom: 1em;
        background-image: url(../img/backgrounds/marmolnegrotransp1.png); }
        .grillacontacto main .boxcontacto form .formpregunta textarea {
          background-color: #bbbbbb; }
        .grillacontacto main .boxcontacto form .formpregunta h4 {
          text-align: center;
          padding: 0.5em; }
        .grillacontacto main .boxcontacto form .formpregunta .botonenviar {
          font-family: "roboto";
          background-image: linear-gradient(90deg, #0f97a4, #8720ac); }
  .grillacontacto footer {
    grid-area: foot; }

@media screen and (min-width: 768px) {
  .grillacontacto main h2 {
    margin-bottom: 0.6em;
    margin-top: 0.3; }
  .grillacontacto main .boxcontacto form {
    background-image: url(../img/backgrounds/marmolnegro.jpg);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "año pregunta"; }
    .grillacontacto main .boxcontacto form .añolugar {
      border: none;
      margin-left: 1.2em;
      padding: 8.6em;
      background-color: rgba(39, 38, 38, 0.8);
      background-image: none; }
      .grillacontacto main .boxcontacto form .añolugar .formaño {
        font-size: 1.2em;
        grid-area: año;
        text-align: center;
        padding-bottom: 10px; }
        .grillacontacto main .boxcontacto form .añolugar .formaño label {
          color: white; }
        .grillacontacto main .boxcontacto form .añolugar .formaño input {
          width: 80px; }
      .grillacontacto main .boxcontacto form .añolugar .formlugar {
        font-size: 1.2em; }
        .grillacontacto main .boxcontacto form .añolugar .formlugar label {
          color: white; }
        .grillacontacto main .boxcontacto form .añolugar .formlugar input {
          background-color: #bbbbbb;
          width: 200px; }
    .grillacontacto main .boxcontacto form .formpregunta {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      padding-bottom: 30px;
      grid-area: pregunta;
      background-color: rgba(39, 38, 38, 0.8);
      background-image: none; }
      .grillacontacto main .boxcontacto form .formpregunta textarea {
        width: 80%;
        height: 50%; }
      .grillacontacto main .boxcontacto form .formpregunta input {
        width: 80%; }
      .grillacontacto main .boxcontacto form .formpregunta h4 {
        text-align: center;
        padding-left: 0px;
        font-size: 1.5em; } }
