@import 'mixins';
@import 'variables';

footer {
    background: {
        image: linear-gradient(90deg, $violeta, $celeste);
        size: cover;
        attachment: scroll;
    }

    // @function color($color-name) {
    //     @return map-get($mapacolors, text-light);
    // }

// ver por que no funcionan los colores del mapa background-color: color(text-light)



    width: 100%;
    position: relative;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;



    .logoig {
        @include sizes(2.3em, 2.3em);

        &:hover {
            width: 2.8em;
            height: 2.8em;
        }
    }

    .logotumblr {
        @extend .logoig;
      
    }

    .guillefooter {
        color: rgb(20, 17, 6);
        text-align: center;
        font-size: 15px;
        font-weight: 550;
        padding-top: 10px;


    }

    .logoredes {
        padding-top: 12px;
        padding-bottom: 10px;
    }

    @if $theme==oscu {
        background-color: $colordark;
        color: $textowhite;
    }

    @else {
        background-image: linear-gradient (90deg, $violeta, $celeste);
        color: $colordark;
    }
}
