@import 'mixins';
@import 'variables';


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


header {
    background: {
        image: linear-gradient(90deg, $celeste, $violeta);
        size: cover;
        attachment: scroll;
    }

    h1 {
        font-family: "koulen";
        font-style: italic;
    }
    .navbar {

        .menu,
        .menu-check {
            display: none;
        }}

}

@media screen and (max-width: $desktop) {

    header {
        h1 {
            font-size: 2.2em;
            color: $colordark;
            padding-top: 20px;
            margin-bottom: 0px;
        }

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .navbar {
            display: flex;
            flex-direction: center;
            justify-content: center;

            .menu-check:not(:checked)~nav {
                display: none;
            }

            .menu-check:checked~nav {
                display: block;
            }

            .menu {
                display: block;
                font-family: "roboto";
                color: $colordark;
                font-size: 1.2em;
                font-weight: bold;
                position: absolute;
                top: 0.1%;

            }

            .menu-cerrar {
                display: none;
            }

            .menu-check:checked~label .menu-abrir {
                display: none
            }

            .menu-check:checked~label .menu-cerrar {
                display: block
            }

            nav {
                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 1.2em;

                    li a {
                        text-decoration: none;
                        font-family: "Merriweather";
                        font-size: 1em;
                        color: $colordark;
                        font-weight: bold;
                        padding: 6px;
                        display: block;
                        float: none;
                        border-top: 1px solid $menuresponsive;
                       
                    }

                }
            }
        }
    }
    }


@media screen and (min-width: $desktop) {
    header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 2.2em;
            color: rgb(32, 81, 172);
            text-align: left;
        }

        .navbar {

            nav {

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;


                    li a {
                        text-decoration: none;
                        font-family: "Merriweather";
                        font-size: 1em;
                        color: $textowhite;
                        padding: 8px;
                        border-top: none;

                        &:hover {
                            color: goldenrod;
                            font-size: 1.1em;

                        }

                        &:active {
                            font-size: 1em;
                        }

                    }
                }
            }
        }



        .item-home,
        .item-prints,
        .item-bio,
        .item-contacto,
        .item-tresd {
            padding: 25px;

        }
    }

}
