@import 'footer';
@import 'header';
@import 'mixins';
@import 'variables';


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: black;
    font-size: 1.2em;
    font-family: "roboto";
    color: $textowhite;
    height: 100%;
}

h2 {
    color: $textowhite;
    text-align: center;
    font-size: 2em;
    font-family: koulen;
    font-weight: 350;
    font-stretch: extra-expanded;
    padding: 20px;
    animation: moveh1 1.5s;

    @keyframes moveh1 {
        from {
            transform: scale(1.25);
        }

        to {
            transform: scaleX(0.5) translatey (2);
        }

    }

}

h3 {
    font-size: 1.4em;
    color: $celeste
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>INDEX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


.grillaindex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "head"
        "main"
        "foot";

    header {
        grid-area: head;
    }

    main {
        grid-area: main;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    footer {
        grid-area: foot;
    }

    @media screen and (max-width: $desktop) {
        .videoindex {
            width: 100%;
            height: 100%;
        }
    }
}


// ---------------------INDEX DESKTOP---------- >>>>


@media screen and (min-width: $desktop) {

    .mainindex {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .videoindex {
        width: 100%;
    }

    .grillaindex {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas:
            "head head"
            "main main"
            "foot foot";

        header {
            grid-area: head;
        }

        main {
            grid-area: main;
        }

        footer {
            grid-area: foot;


        }


    }


}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BIO<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
.grillabio {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: fit-content 50% 50%;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "head head"
        "main main"
        "foot foot";

    header {
        grid-area: head;

    }

    main {
        grid-area: main;
        overflow-x: hidden;
        padding: 0.8em;

    }

    footer {
        grid-area: foot;
    }


    .biografia {

        h3 {
            padding-top: 1em;
            text-align: justify;
        }

        .obra {

            .p1,
            .p2,
            .p3,
            .p4 {
                font-size: 1.2em;
                text-align: justify;
            }
        }

    }

    .recorridos {
        text-align: justify;
        padding: 2px;
        font-size: 1.2em;

        ul,
        ol {
            padding-left: 5px;
            text-decoration: none;
            list-style-type: none;
        }

        h3 {
            padding-top: 30px;
            text-align: center;

            font: {
                family: "koulen";
                weight: 300;
                size: 1.3em;
            }
        }

        h4 {
            font-size: larger;
            color: $violeta;
            font-weight: 600;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 5px;
        }
    }

    .fotobio {
        display: flex;
        justify-content: center;

        .fotoguille {
            width: 350px;
        }

    }


}

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<DEKTOP BIO >>>>>>>>>>>>>>>>>>>>>>>>
@media screen and (min-width: $desktop) {
    .grillabio {
        main {
            padding: 1em;

            .fotobio {
                padding: 10px;

                .fotoguille {
                    width: 500px;
                }
            }

            .biografia {

                h3 {
                    font-size: 1.6em;
                }

                .obra {

                    .p1,
                    .p2,
                    .p3,
                    .p4 {
                        font-size: 1.5em;

                    }


                }

                .recorridos {
                    h3 {
                        text-align: center;
                        font-size: 1.6em;

                    }

                    h4 {
                        font-size: 1.5em;
                        text-align: left;
                    }

                    ul,
                    ol {
                        font-size: larger;
                        padding-left: 50px;
                    }

                }
            }
        }
    }
}



// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<PRINTS -hecho con bootstrap>>>>>>>>>>>>>>>>>>>>>>>>>

main {
    overflow-x: hidden
}

.animate__animated.animate__headShake {
    --animate-duration: 3.5s;
}

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 3D >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

@media only screen and (max-width: $desktop) {
    .grilla3d {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: fit-content 100%;
        grid-template-rows: 1fr auto auto 1fr;
        grid-template-areas: "head"
            "video"
            "virtu"
            "foot";


        .header3d {
            grid-area: head;
        }

        .videosmusica {
            grid-area: video;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        .footer3d {
            grid-area: foot;
        }


        .titulo3d {
            text-align: center;
        }

        .textovirtual {
            grid-area: virtu;
            text-align: justify;
            padding-bottom: 2em;
            padding-top: 2em;
            font-size: 1.2em;
            padding-left: 0.5em;
            padding-right: 0.5em;

            p {
                text-align: justify
            }
        }


        .videos3d {
            width: 350px;
            margin: auto;

            h3 {
                padding-top: 1em;
                font-size: 1.2em;
            }

            .whiterabbit,
            .horriblesophie,
            .gorebarato {
                height: 0px;
                width: 100%;
                max-width: 350px;
                padding-top: 56.25%;
                position: relative;
            }

            .iframerabbit,
            .iframegorebarato,
            .iframehorriblesophie {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0px;
                left: 0px;
                padding-top: 10px;
            }
        }


    }
}

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<3D DESKTOP>>>>>>>>>>>>>>>>>>>>>>>

@media screen and (min-width: $desktop) {
    .grilla3d {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 30% auto auto;
        grid-template-rows: 8rem auto auto auto 8rem;
        gap: 10px;
        grid-template-areas:
            "head head head"
            "virtu video video"
            "virtu video video"
            "virtu video video"
            "foot foot foot";


        header {
            grid-area: head;
            padding: 10px;
        }

        .videosmusica {
            grid-area: video;
        }

        .footer3d {
            grid-area: foot;
        }

        .videos3d {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 2em;

            h2 {
                text-align: center;
            }

            h3 {
                padding-top: 1em;
            }

            iframe {
                padding-top: 10px;
            }


        }

        .textovirtual {
            grid-area: virtu;
            padding: 3px;
            text-align: left;

            .textovirtualidad,
            .titulovirtualidad {
                padding-bottom: 3.5em;
                padding-left: 0.9em;
                font-size: 1.5em;
                padding-top: 4em;
            }

        }
    }
}

//  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>CONTACTO<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.grillacontacto {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "head head"
        "main main"
        "foot foot";

    header {
        grid-area: head;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: main;
        padding-bottom: 3em;

        h2 {
            padding-bottom: 10px;
        }

        .boxcontacto {

            form {
                display: flex;
                flex-direction: column;
                align-items: center;

                .añolugar {
                    margin: 1em;
                    border: 1px solid $colorborder;
                    padding: 1.6em;
                    background-image: url(../img/backgrounds/marmolnegrotransp2.png);

                    .formaño {
                        text-align: center;

                        input {
                            background-color: $form;
                            width: 75px;

                        }
                    }

                    .formlugar {
                        text-align: center;
                        padding-top: 30px;

                        input {
                            background-color: $form;
                            width: 60%;

                        }

                    }
                }

                .formpregunta {
                    padding: 20px;
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border: 1px solid $colorborder;
                    margin: 1.2em;
                    padding-bottom: 1em;
                    background-image: url(../img/backgrounds/marmolnegrotransp1.png);

                    textarea {
                        background-color: $form;
                    }

                    h4 {
                        text-align: center;
                        padding: 0.5em;
                    }

                    .botonenviar {
                        font-family: "roboto";
                        background-image: linear-gradient(90deg, $celeste, $violeta);
                    }

                }
            }
        }

    }

    footer {
        grid-area: foot;
    }

}

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<CONTACTO DESKTOP>>>>>>>>>>>>>

@media screen and (min-width: $desktop) {
    .grillacontacto {

        main {

            h2 {
                margin-bottom: 0.6em;
                margin-top: 0.3
            }

            .boxcontacto {

                form {
                    background-image: url(../img/backgrounds/marmolnegro.jpg);
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 100%;
                    grid-template-areas:
                        "año pregunta";

                    .añolugar {
                        border: none;
                        margin-left: 1.2em;
                        padding: 8.6em;
                        background-color: $formback;
                        background-image: none;

                        .formaño {
                            font-size: 1.2em;
                            grid-area: año;
                            text-align: center;
                            padding-bottom: 10px;

                            label {
                                color: $textowhite
                            }

                            input {
                                width: 80px;

                            }
                        }

                        .formlugar {

                            font-size: 1.2em;

                            label {
                                color: $textowhite
                            }

                            input {
                                background-color: $form;
                                width: 200px;
                            }

                        }
                    }

                    .formpregunta {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border: none;
                        padding-bottom: 30px;
                        grid-area: pregunta;

                        background: {
                            color: $formback;
                            image: none;
                        }

                        textarea {
                            width: 80%;
                            height: 50%;
                        }

                        input {
                            width: 80%;

                        }

                        h4 {
                            text-align: center;
                            padding-left: 0px;
                            font-size: 1.5em;
                        }
                    }

                }

            }


        }
    }
}
